/* #articles {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        /* grid-template-rows: ; */
/* grid-column-gap: 10px;
        grid-row-gap: 10px;
} */

/* body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
} */
*{
        padding: 0%;
        margin: 0;
        
}
.logo img {
        height: 200px;
        width: auto;
      }
nav {
        position: fixed;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items:center;
        top: 0;
        left: 0;
        right: 0;
        height: 30px;
        padding: 40px;
        z-index: 50px; 
}

/* .nav-links {
        display: flex;
        flex-direction: row;
        width: 40%;
        font-size: 20;
        color: black;
        justify-content: space-evenly;
} */

.title1 {
        margin-top: 300px;
}

.nav-links {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
}
#articles h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        color: black;

}

#articles p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8rem;
        color: rgb(101, 48, 224);
}

.article-img {
        width: 100%;
}

body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      
}    


h1 {
        text-align: center;
        margin-bottom: 50px;
}

.search-container {
        margin-bottom: 70px;
        display: flex;
        gap: 10px;
        /* flex-wrap: wrap; */
        width: 600px;
        height: 30px;
        
        
}

#searchQuery {
        width: 700px;
        border-radius: 20px;
        
}

#search-button {
        color: #08f110;
        border-radius: 20;
           
}

#articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        width: 100%;
}

#articles div {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 12px;
        background-color: #fff;
}

.article-img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
}

/* @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    .spinning {
        animation: spin 1s ;
    } */